.menu-admin{
    border: 1px solid white;
    width: max-content;
    display: flex;
    margin-top: 0;
    position: fixed;
    color: brown;
    background-color: rgb(240, 248, 255);
}
.menu-staff{
    border: 1px solid white;
    width: max-content;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    position: fixed;
    color: brown;
    background-color: rgb(240, 248, 255);
}

.menu-admin li {
    padding: 5% 5%;
    text-decoration: none;
    list-style: none;
    color: brown;
}

.menu-staff li {
    padding: 43% 5%;
    text-decoration: none;
    list-style: none;
    color: brown;
}

.menu-admin {
    display: flex;
    justify-content: center;
    
  }
  
  .menu-admin > ul > li {
    list-style-type: none;
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  
  .menu-admin > ul > ul > li > span {
    display: block;
    padding: 12px;
    cursor: pointer;
    text-decoration: none;
    list-style: none;

  }
  
  .menu-admin > ul > ul> li > ul {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
  }
  
  .menu-admin > ul > ul > li > ul > li > a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .menu-admin > ul > ul > li > ul > li > a:hover {
    background-color: #f1f1f1;
  }
  
  .menu-admin > ul > ul > li:hover > ul {
    display: block;
  }
  
  .sub-menu-open {
    display: block;
  }
  
  .sub-menu-closed {
    display: none;
  }