/* styles.css */

/* body{
  background-image: url(./bg_auth.jpg);
  background-size:cover;
  text-align: center;
} */

.main-container {
    margin: 3% 15%;
    font-family: 'Arial', sans-serif;
    text-align: center;
    text-shadow: 3px 3px 5px black;
  }

  .dashboard-stats{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 2%;
  }

  .dashboard-total-staff-stat{
    border: 1px dashed #ffffff;
    background-color: rgba(6, 133, 184,0.5);
    padding: 20px;
  }

  .dashboard-staff-month-stat{
    border: 1px dashed #ffffff;
    background-color: rgba(164, 95, 45, 0.822);
    padding: 20px;
  }

  .dashboard-mission-stat{
    border: 1px dashed #ffffff;
    background-color: rgba(36, 35, 33, 0.8);
    padding: 20px;
  }

  .dashboard-leave-stat{
    border: 1px dashed #ffffff;
    background-color: rgba(158, 35, 35, 0.822);
    padding: 20px;
  }
  
  .dashboard-welcome{
    margin-top: 10px;
    background-color: rgba(239, 62, 201, 0.822);
    border: 1px dashed #ffffff;
    padding: 50px 20px;
  }
  .app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
/*   
  .header {
    background-color: #333;
    color: white;
    padding: 5px;
    text-align: center;
  }

  .header img{
    margin: 0;
    margin-top: 1px;
    width:50px;
  } */
  
  
  
  .main-content {
    flex-grow: 1;
  }
  
 

  /* .footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  } */

  .search-bar select {
    margin-left: 5px;
    border-radius: 5px;
  }


  .create-staff-form,.create-mission-form, .create-leave-form, .personal-info, .upcoming-missions,.update-staff-form{
      max-width: 400px;
      margin: auto;
      padding: 10px 20px;
      background-color: rgba(47, 154, 225, 0.5);
      text-shadow: 3px 3px 5px black;
      border: 1px solid #ddd;
      border-radius: 40px;
      margin-top: 1%;
      color: rgb(220, 162, 80);
      display: flex;
    flex-direction: column;
  }


  .staff-list,.leave-request-list{
    text-align: center;
    margin-top: 2%;
  }

  .staff-list button, .leave-request-list button {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 15px;
    width: 70%;
    margin: 1% 15%;
  }

  .staff-list .delete,.leave-request-list .reject-btn {
    background-color: rgb(196, 11, 11);
  }

  .staff-list .delete:hover,.leave-request-list .reject-btn:hover {
    background-color: rgb(235, 76, 76);
    color: #333;
  }

  .staff-list .edit {
    background-color: rgb(196, 153, 11);
  }

  .staff-list .edit:hover {
    background-color: rgb(223, 190, 79);
    color: #333;
  }

  .leave-request-list .approve-btn {
    background-color: rgb(62, 163, 11);
  
  }

  .leave-request-list .approve-btn:hover {
    background-color: rgb(105, 207, 53);
    color: #333;
  }

  .staff-list table,.leave-request-list table{
    border: 1px dashed white;
    border-radius: 5px;
    padding: 10px 50px;
    width: 100%;
    text-align: center;
    background-color: rgba(36, 35, 33, 0.7);
  }

  thead{
    color: white;
    text-shadow: 1px 1px 1px black;
  }
  th {
    letter-spacing: 2px;
  }
  
  td {
    letter-spacing: 1px;
  }
  
  tbody td {
    text-align: center;
  }
  
  tfoot th {
    text-align: right;
  }

  thead th,
  tfoot th,
  tfoot td {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.5)
    );
    border: 3px solid brown;
  }

  tbody tr:nth-child(odd) {
    background-color: rgba(164, 95, 45, 0.822);
    color: white;
  }
  
  tbody tr:nth-child(even) {
    background-color: rgba(227, 125, 51, 0.822);
    color: white;
  }
  .past-missions {
    max-width: 400px;
    margin: auto;
    padding: 10px 20px;
    background-color: rgba(92, 63, 13, 0.5);
    text-shadow: 3px 3px 5px black;
    border: 1px solid #ddd;
    border-radius: 40px;
    margin-top: 1%;
    color: rgb(114, 167, 213);
  }

  textarea {
    margin-bottom: 4%;
    width: 70%;
    resize:none
  }

  .create-staff-form .form-flex, .create-mission-form .form-flex, .create-leave-form .form-flex,.personal-info .form-flex .update-staff-form .form-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .create-staff-form label,.create-mission-form label,.create-leave-form label,.personal-info label,.update-staff-form label{
    margin-bottom: 5px;
    width: 30%;
  }
  
  .create-staff-form input,.create-mission-form input,.create-leave-form input,.personal-info input,.update-staff-form input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    width: 70%;
  }

  .create-mission-form select,.create-leave-form select,.update-staff-form select {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    width: 70%;
  }
  
  button {
    background-color: #333;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    width: 50%;
    margin: auto 25%;
  }
  
  button:hover {
    background-color: #555;
  }

  button .approve-btn{
    background-color: green;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    width: 50%;
    margin: auto 25%;
  }
  button .reject-btn{
    background-color: red;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    width: 50%;
    margin: auto 25%;
  }
  
  @media only screen and (max-width: 600px) {
    .menu {
      display: block; /* Show the menu on small screens */
    }
  }
  